.country-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.visited{
    background-color: bisque;
    color: black;
    font-weight: 600;
}
.flag-container img{
    width: 100px;
}