@import "tailwindcss";

.common-button{
  @apply py-3 px-10 rounded-sm text-white font-semibold bg-primary cursor-pointer 
}

@theme {
  --color-primary: #346576;
}

a{
  @apply px-10 py-3 border border-transparent rounded-sm
}
.active{
  background-color: rebeccapurple;
  transition: .5s;
  color: white;
}